@import url(//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,800);

::selection { background: #eee; }
-moz-::selection { background: #eee; }

body {
	font-family: "Montserrat", sans-serif;
	padding-top: 20px;
}

p { margin-top: 10px; }

.center { text-align: center; margin: 0 auto; }

code, pre {
	font-family: monaco, consolas !important;
}